body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0 auto;
}
nav a{
    margin-top:20px;
    margin-left:30px;
    text-decoration: none;
    font-size:20px;
    color:white;
    position: relative;
    margin-bottom:20px;
    transition: all .2s;
    overflow: hidden;

}
nav a:hover{
    color:black;
}

nav a::before{
    content: "";
    position:absolute;
    top:0px;
    left:-100%;
    width:100%;
    height:100%;
    background: red;
    z-index: 99;
    transition: all .4s;
cubic-bezier(0.7,0,0.3,1);
}
nav a:hover::before{
    left:100%;
}
nav a::after{
    content: "";
    position:absolute;
    top:50%;
    margin-top:-2px;
    left:100%;
    width:100%;
    height:4px;
    background: red;
    transition: all .3s;
    transition-delay: .4s;
}
nav a:hover::after{
    left:0%;
}
h1 {
    text-align: center;
    color: #444;
    margin-top: 20px;
}
p {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
img {
    position:relative;
    left:20%;
    right:20%;
    width:30%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
img + img {
    margin-top: 10px;
}
p br {
    display: none;
}
